.description {
    display: grid;
    grid-template-columns: 97px minmax(min-content, 40ch);
    column-gap: 16px;
    font-size: 1.15rem;
}

.avatar {
    border: 2px solid #4c4c4c;
    border-radius: 50%;
    height: 96px;
    width: 96px;
}

.avatar img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.logLinks {
    margin-top: 3rem;
    font-size: 1.25rem;
}

.logLinks > * + * {
    margin-top: 1.5rem;
}
