@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose-slate {
  --tw-prose-bullets: oklch(37.2% 0.044 257.287);
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  .prose-slate {
    --tw-prose-body: theme(colors.gray.300);
    --tw-prose-headings: theme(colors.white);
    --tw-prose-lead: theme(colors.gray.300);
    --tw-prose-links: theme(colors.blue.400);
    --tw-prose-bold: theme(colors.white);
    --tw-prose-counters: theme(colors.gray.400);
    --tw-prose-bullets: theme(colors.gray.400);
    --tw-prose-hr: theme(colors.gray.700);
    --tw-prose-quotes: theme(colors.gray.100);
    --tw-prose-quote-borders: theme(colors.gray.700);
    --tw-prose-captions: theme(colors.gray.400);
    --tw-prose-code: theme(colors.white);
    --tw-prose-pre-code: theme(colors.gray.300);
    --tw-prose-pre-bg: theme(colors.gray.800);
    --tw-prose-th-borders: theme(colors.gray.600);
    --tw-prose-td-borders: theme(colors.gray.700);
  }
}
